.other{
    margin: 60px 0 100px 0;
    
}

.title{
    text-align: center;
    margin-bottom:50px;
    font:700 36px/44px $montserrat;
    color:#402F42;
}

.hexagon-block li{
    width:435px;
}

